* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    text-transform: uppercase;
}
.text-normal {
    text-transform: none;
}
div {
    padding: 6% 0;
    box-sizing: border-box;
}
.violeta {
    color: rgb(255, 86, 105);
}

.seccion-titulo {
    background-image: url("../imgs/fondo-titulo.png");
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 5em;
    color: rgb(255, 86, 105);
}
.descripcion-titulo {
    font-size: 1.2em;
    color: white;
}

/* estilos de la linea reviving */
.flex-vertical-centrado {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
div[class="flex-vertical-centrado"] {
    width: 80%;
    box-sizing: border-box;
}
.margen-izquierdo {
    margin-left: 4%;
}
section {
    box-sizing: border-box;
    width: 100%;
    padding: 6% 1%;
    margin: 0;
}
.seccion-oscura {
    background-color: rgb(232, 232, 232);
}
.texto-peque {
    width: 100%;
    color: rgb(255, 86, 105);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 1em;
}
.texto-destacado {
    width: 100%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2.8em;
}
.img-size-completo {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.subtitulo-parrafo {
    font-size: 1.6em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 3.2%;
}
.descripcion {
    width: 90%;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-align: center;
}
/* boton 1 especial */
.boton-coloreado {
    padding: 3%;
    background-color: white;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    margin: 4% auto;
    transition:  color 0.6s ease;
    transition:  background-color 0.6s ease;
}
.boton-coloreado span {
    color: rgb(255, 86, 105);
    font-size: 1.5em;
}
.boton-coloreado:hover {
    background-color: rgb(255, 86, 105);
    color: white;
}
.boton-coloreado:hover span {
    color: white;
}

.subtitulo-destacado {
    font-size: 2.1em;
}
.enlace-redondo {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    margin-top: 12%;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.8s ease, box-shadow 0.8s ease;
}
.enlace-redondo:hover {
    background-color: rgb(255, 86, 105);
    box-shadow: 0 0 20px rgb(255, 86, 105);
}

.white {
    color: white;
    text-shadow: 1px 1px 2px black;
}
.seccion-calendula {
    background-image: url("../imgs/calendula-fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 12% 0;
}

.boton-oculto-img {
    background-size: cover;
    margin: 4% auto;
    -webkit-margin-collapse: collapse;
    width: 70%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-oculto-img a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 4%;
    border: 1px solid black;
    box-shadow: 1px 1px 3px rgb(49, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    opacity: 0;
    transition: opacity 0.8s ease;
}
.boton-oculto-img:hover a {
    opacity: 100%;
}

/* mis fondo de las imagenes */
.oculto1 {
    background-image: url("../imgs/img-red1.png");
}
.oculto2 {
    background-image: url("../imgs/img-red2.png");
}
.oculto3 {
    background-image: url("../imgs/img-red3.png");
}

@media (min-width: 620px) {
    .seccion-flex-horizontal {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        gap: 1%;
        justify-content: space-around;
    }
    .seccion-flex-horizontal .div-reviving {
        flex: 0 0 40%;
    }
    .img-reviving {
        flex: 0 0 20%;
    }
    .img-size-completo {
        width: 100%;
    }
}