 /* titulo personalizado */
.seccion-titulo {
    background-image: url("../imgs/fondo-titulo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 5em;
    color: rgb(255, 86, 105);
}
.descripcion-titulo {
    font-size: 1.2em;
    color: white;
}

/* boton coloreado */
.boton-coloreado {
    padding: 3%;
    background-color: white;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    margin: 4% auto;
    transition:  color 0.6s ease;
    transition:  background-color 0.6s ease;
}
.boton-coloreado span {
    color: rgb(255, 86, 105);
    font-size: 1.5em;
}
.boton-coloreado:hover {
    background-color: rgb(255, 86, 105);
    color: white;
}
.boton-coloreado:hover span {
    color: white;
}

/* enlace redondo */
.enlace-redondo {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    margin-top: 12%;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.8s ease, box-shadow 0.8s ease;
}
.enlace-redondo:hover {
    background-color: rgb(255, 86, 105);
    box-shadow: 0 0 20px rgb(255, 86, 105);
}

/* fondo personalizado sección calendula */
.seccion-calendula {
    background-image: url("../imgs/calendula-fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 12% 0;
}

/* parte de los botones */
.boton-oculto-img {
    background-size: cover;
    margin: 4% auto;
    -webkit-margin-collapse: collapse;
    width: 70%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-oculto-img a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 4%;
    border: 1px solid black;
    box-shadow: 1px 1px 3px rgb(49, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    opacity: 0;
    transition: opacity 0.8s ease;
}
.boton-oculto-img:hover a {
    opacity: 100%;
}

/* mis fondo de las imagenes */
.oculto1 {
    background-image: url("../imgs/img-red1.png");
}
.oculto2 {
    background-image: url("../imgs/img-red2.png");
}
.oculto3 {
    background-image: url("../imgs/img-red3.png");
}

/* la parte de la deslizable de los productos top y las tarjetas*/
.deslizable {
    width: 98%;
    padding: 1% 2%;
    box-sizing: border-box;
    margin: 0 auto;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    /* height: 70vh; */
}
.tarjeta {
    flex: 0 0 50%;
    text-align: center;
}
.espacio-imagen-tarjeta {
    width: 100%;
}
.espacio-imagen-tarjeta img {
    width: 94%;
    display: block;
    margin: 0 auto;
}
.nombre-tarjeta {
    max-width: 90%;
    margin: 0 auto;
    text-transform: none;
    color: black;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.precio-tarjeta {
    font-size: 2em;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.boton-carrito {
    padding: 4%;
    margin-top: 10%;
    font-size: 1em;
    color: white;
    background-color: rgb(255, 86, 105);
    border: none;
}
.categoria-tarjeta {
    width: 80%;
    text-align: right;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    text-transform: none;
    font-style: italic;
    margin-top: 4%;
}
#track{
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}
#track::-webkit-scrollbar {
    display: none;
}
#contenedor-mas-vendidos {
    display: inline-flex;
}

@media(min-width: 1024px) {
    html {
        font-size: 20px;
    }
    div {
        padding: 1%;
    }
    .seccion-titulo {
        height: 100vh;
    }
    .tarjeta {
        flex: 0 0 25%;
        margin: 0 2%;
        -webkit-margin-collapse: collapse;
        padding: 0;
    }
    .boton-coloreado {
        padding: 4%;
    }
    .enlace-redondo {
        width: 160px;
        height: 160px;
        margin-top: 8%;
    }
    .img-reviving {
        flex: 0 0 40%;
    }
    .boton-oculto-img {
        height: 50vh;
    }
}